extends layout
block body
	script(src="/js/services/api_services.js", type="text/javascript")
	script(src="/js/controllers/mainController.js", type="text/javascript")
	script(src="/js/app.js", type="text/javascript")
	h1
	div(ng-view)
	include partials/hello.jade